@{
    ViewBag.Title = "Home";
}
<div id="contents">
    @*Ads?
    <div id="adbox">

        <img src="">
        <h1></h1>
    </div>*@

    <div id="main">
        <div class="ContentBox">
            @*Content Header*@
            <div class="header">
                <h2>Welcome</h2>
            </div>
            
            @*Content Body*@
            <div class="body">
                @*Two Rows Expected. First row will contain welcome message along with portfolio link and games*@
                <div class="row">
                    <div class="col-lg-6">
                        <p>Greetings and welcome to John Oak's official website.</p>
                        <p>
                            This website was built to display my electronic portfolio and resume while at the same time become my personal blog for anyone interested.
                            In addition to you getting to know more about me, you can also access my review questions to test your knowledge on programming logic and design and even play games!
                            So please, enjoy your stay and feel free to contact or connect to me
                        </p>

                        <div class="header">
                            <h2>News</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Opened for further testing!</li>
                                <li>Old Maiden Card Game is now available for alpha testing.</li>
                                <li>Old Maiden will be tested for JQuery Animation for special effects.</li>
                                <li>Review session page will be up within two weeks.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section">
                            <h5>Browse through my portfolio</h5>
                            <a href="portfolio.aspx"><img class="img-thumbnail img-responsive" src="~/Content/Images/ASP.NET Title.png" alt="Img" width="285"></a>
                            <a href="portfolio.aspx"><img class="img-thumbnail img-responsive" src="~/Content/Images/XML Title.png" alt="Img" width="285"></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="section">
                                    <h5>Play some games and relax</h5>
                                    <a href="games.aspx"><img class="img-thumbnail img-responsive" src="~/Content/Images/play-card.jpg" alt="Img" width="285"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*SideBar contains the link. Contains second row*@
            @*<div class="sidebar">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header">
                            <h2>News</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>Opened for further testing!</li>
                                <li>Old Maiden Card Game is now available for alpha testing.</li>
                                <li>Old Maiden will be tested for JQuery Animation for special effects.</li>
                                <li>Review session page will be up within two weeks.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div> 
</div>