@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">This website was built to display my electronic portfolio and resume while at the same time become my personal blog for anyone interested.
            In addition to you getting to know more about me, you can also access my review questions to test your knowledge on programming logic and design and even play games!
            So please, enjoy your stay and feel free to contact or connect to me.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Old Maiden</h2>
        <p>
            Come and play a quick game of old maiden!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Play &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>